COMPOSE_PROJECT_NAME=gomech

POSTGRES_DB=gomech_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=5173
AI_PORT=8000

SPRING_PROFILES_ACTIVE=local
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

VITE_API_URL=http://localhost:8080/api/v1

AI_SERVICE_NAME=gomech-ai
