[submodule "gomech-ai-service"]
	path = gomech-ai-service
	url = https://github.com/DeyvidJesus/gomech-ai-service
[submodule "gomech-backend"]
	path = gomech-backend
	url = https://github.com/DeyvidJesus/gomech-backend
[submodule "gomech-frontend"]
	path = gomech-frontend
	url = https://github.com/DeyvidJesus/gomech-frontend
[submodule "gomech-landing-page"]
	path = gomech-landing-page
	url = https://github.com/DeyvidJesus/gomech-landing-page
